h4.group.card-title {
    font-size: 1em;
    color: #000;
    text-transform: capitalize;
    font-weight: 800;
    padding-bottom: 10px;
    border-bottom: 1px solid #cec1c1;
}

p {
    font-size: 0.9em;
}

.btn-course {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #ff1949;
    background: #dee3e7;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 8px 10px;
    border: none;
    text-align: center;
    text-transform: capitalize;
    position: relative;
    overflow: hidden;
    -webkit-transition: .3s;
    transition: .3s;
}

.btn-course:after {
    position: absolute;
    -webkit-transition: .3s;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #ff1948;
}

.btn-course:hover:after {
    width: 100%;
    left: 0;
}

.btn-course:hover {
    color: #fff;
    background: #000;
}

p.lead {
    color: #5b5b5b;
    font-weight: 600;
}

p.group.inner.list-group-item-text {
    margin-bottom: 2em;
}

.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}

.thumbnail {
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}

.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
    display: inline-block;
}

.item.list-group-item .caption {
    float: left;
    width: 70%;
    margin: 0;
}

.item.list-group-item:before,
.item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item:after {
    clear: both;
}

@media screen and (max-width: 736px) {
    .item.list-group-item .img-event,.item.list-group-item .caption {
        float: none;
        width: 100%;
    }
    .thumb-last .thumbnail.card {
        margin-bottom: 0;
    }
}