.home-features-list ul li.list-group-item {
    background: transparent;
    color: #fff;
    font-size: 1em;
}

.home-features-list.my-auto h3 {
    color: #fff;
    text-transform: capitalize;
    font-size: 1.7em;
    font-family: 'Gentium Basic', serif;
    font-style: italic;
    letter-spacing: 0.5px;
    font-weight: 600;
    margin-bottom: 1em;
}

.screenview_bg {
    padding: 5em 0;
}

h3.page-head {
    font-size: 1.75rem;
}

.screen-view-img img {
    padding: 1em 1em 3em 0;
}

.pages-sec {
    background: #130f0f;
}

.demo-page {
    border: 10px solid rgba(255, 255, 255, 0.1);
    padding: 5px;
    border-radius: 10px;
}

.page-grid-wthree {
    margin-bottom: 40px;
}

.demo-title h4 {
    padding: 15px 0;
}

.demo-title h4 a {
    font-size: 16px;
    text-transform: uppercase;
    color: #eee;
    letter-spacing: 0.5px;
}

.demo-title h4 a:hover {
    color: #ff1949;
}

@media screen and (max-width: 1366px) {
    .home-features-list.my-auto h3 {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 1080px) {
    .home-features-list.my-auto h3 {
        font-size: 1.3em;
        letter-spacing: 0;
    }
}

@media screen and (max-width: 991px) {
    .screenview_bg {
        padding: 2em 0;
    }
}

@media screen and (max-width: 736px) {
    h3.page-head {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 568px) {
    .home-features-list ul li.list-group-item {
        font-size: 0.9em;
    }

    h3.page-head {
        font-size: 1.2rem;
    }
    .page-grid-wthree {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 384px) {
    .home-features-list.my-auto h3 {
        font-size: 1.25em;
        line-height: 1.5;
    }
}

@media screen and (max-width: 320px) {
    .home-features-list ul li.list-group-item {
        font-size: 0.85em;
    }
}